.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30rem;
  height: 10rem;
  padding: 2rem;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
}
.subtotal__gift {
  display: flex;
  align-items: center;
}
.subtotal_gift > input {
  margin-right: 5px;
}
.subtotal > button {
  background: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 3rem;
  border: 1px solid;
  margin-top: 1rem;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
